#avg-deviation-table, #prob-dist-table, #prob-exceed-table, #five-year-table{
	width: 620px;
	border: 1px solid #ccc;
	margin-left: 1px;
	border-collapse: collapse !important;
}

#avg-deviation-table th, #avg-deviation-table tr td, #prob-dist-table th, #prob-dist-table tr td, #prob-exceed-table th, #prob-exceed-table tr td, #five-year-table th, #five-year-table tr td{
	padding: 8px 5px;
	border: 1px solid #ccc;
}

#avg-deviation-table th, #prob-dist-table th, #prob-exceed-table th, #five-year-table th{
	border-top: 0px;
	height: 25px;
	background: transparent url(table_background.gif) 0 0 repeat;
	font-weight: 700;
}
